form {
  label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
  }

  input[type=text],
  input[type=email] {
    display: block;
    font-size: 14px;
    height: 30px;
    margin: 0px 0px 10px;
    padding: 8px 12px;
    width: 100%;
  }
}
